header {
    height: 70px;
    width: 100%;
    background-color: #CCCCCC; 
    display: flex;
    align-items: center;
    background-image: url(../images/AirBnB.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
}